.c-hero {
    // background: linear-gradient(to top right, #00c6ff, #0072ff);
    background: #0575E6;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}